
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Demo ReactJS</title>
    <script crossorigin src="lib/react.production.min.js"></script>
    <script crossorigin src="lib/react-dom.production.min.js"></script>
    <script src="lib/browser.min.js"></script>
   
  </head>
  <style>
  .yellow{
    background-color: yellow
  }
  </style>

  <body>
    <div id="root"></div>
    <hr/>
    <div id="root2"></div>
    
    <script src="xuly.js" type="text/babel"></script>
  </body>
</html>
